
# Site configuration
# 1. Files excluded from Jekyll builds
# 2. Installed Gems
# 3. Jekyll settings
# 4. Collections
# 5. Jekyll collections settings
# 6. Site settings

# 1. Files excluded from Jekyll builds
exclude:
- .editorconfig
- .jekyll-cache
- .github
- "*.tmp"
- CNAME
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- gcweb-jekyll.gemspec
- Gemfile
- Gemfile.lock
- LICENCE*
- package.json
- node_modules
- Rakefile
- README.md
- screenshot.png
- SECURITY.md
- vendor/bundle/
- vendor/cache/
- vendor/gems/
- vendor/ruby/

# 2. Installed Gems
plugins:
  - jekyll-remote-theme

# 3. Jekyll settings
compress_html:
  clippings: all
  comments:
  ignore:
    envs: []
  blanklines: true
  profile: false
quiet: false
remote_theme: wet-boew/gcweb-jekyll
timezone: America/Toronto # Timezone for blog posts and alike
themeJS: true
verbose: true

## 4. Jekyll collections settings
collections:
  pages:
    output: true
  lib_behaviours:
    output: true
    permalink: ./behaviours/:name
  lib_components:
    output: true
    permalink: ./components/:name
  lib_design_patterns:
    output: true
    permalink: ./design-patterns/:name
  lib_page_layouts:
    output: true
    permalink: ./page-layouts/:name
  lib_styles:
    output: true
    permalink: ./styles/:name

# 5. Jekyll default page settings
defaults:
  - scope:
      path: ""
    values:
      analytics: true
      pageType: archived
      footer: false
      i18n:
        tmpl-about-government:
          en: About government
          fr: Au sujet du gouvernement
        tmpl-about-site:
          en: About this site
          fr: À propos de ce site
        tmpl-accountsettings:
          en: Account settings
          fr: Paramètres du compte
        tmpl-archive-paragraph:
          en: You can use it for research or reference.
          fr: ous pouvez la consulter à des fins de recherche ou à titre de référence.
        tmpl-archive-title:
          en: We have archived this page and will not be updating it.,
          fr: Nous avons archivé cette page et elle ne sera plus mise à jour.
        tmpl-arms-description:
          en: We are a federal institution that is part of the [portfolio name] portfolio. We operate at arm’s length from the Government of Canada.
          fr: Nous sommes une institution fédérale qui fait partie du portefeuille de [nom du portefeuille]. Nous fonctionnons sans lien de dépendance avec le gouvernement.
        tmpl-arms-image-alt:
          en: Department name
          fr: Nom du département
        tmpl-date-mod:
          en: Date modified
          fr: Date de modification&#160;
        tmpl-de-description:
          en: Brief description of the feature being promoted.
          fr: Brève description de l’élément en vedette.
        tmpl-de-title:
          en: Features
          fr: En vedette
        tmpl-de-title-link:
          en: "[Feature hyperlink text]"
          fr: "[Texte du lien à l’élément en vedette]"
        tmpl-feedback:
          en: Report a problem on this page
          fr: Signaler un problème sur cette page
        tmpl-gc-sig:
          en: Government of Canada
          fr: Gouvernement du Canada
        tmpl-gc-wmms:
          en: Symbol of the Government of Canada
          fr: Symbole du gouvernement du Canada
        tmpl-home:
          en: Home
          fr: Accueil
        tmpl-lang-dir:
          en: ltr
          fr: ltr
        tmpl-lang-native:
          en: English
          fr: Français
        tmpl-lang-select:
          en: Language selection
          fr: Sélection de la langue
        tmpl-menu-footer-about-contact-text:
          en: Contact us
          fr: Contactez-nous
        tmpl-menu-footer-about-contact-link:
          en: https://www.canada.ca/en/contact.html
          fr: https://www.canada.ca/fr/contact.html
        tmpl-menu-footer-about-departments-text:
          en: Departments and agencies
          fr: Ministères et organismes
        tmpl-menu-footer-about-departments-link:
          en: https://www.canada.ca/en/government/dept.html
          fr: https://www.canada.ca/fr/gouvernement/min.html
        tmpl-menu-footer-about-military-text:
          en: Public service and military
          fr: Fonction publique et force militaire
        tmpl-menu-footer-about-military-link:
          en: https://www.canada.ca/en/government/publicservice.html
          fr: https://www.canada.ca/fr/gouvernement/fonctionpublique.html
        tmpl-menu-footer-about-news-text:
          en: News
          fr: Nouvelles
        tmpl-menu-footer-about-news-link:
          en: https://www.canada.ca/en/news.html
          fr: https://www.canada.ca/fr/nouvelles.html
        tmpl-menu-footer-about-treaties-text:
          en: Treaties, laws and regulations
          fr: Traités, lois et règlements
        tmpl-menu-footer-about-treaties-link:
          en: https://www.canada.ca/en/government/system/laws.html
          fr: https://www.canada.ca/fr/gouvernement/systeme/lois.html
        tmpl-menu-footer-about-reporting-text:
          en: Government-wide reporting
          fr: Rapports à l'échelle du gouvernement
        tmpl-menu-footer-about-reporting-link:
          en: https://www.canada.ca/en/transparency/reporting.html
          fr: https://www.canada.ca/fr/transparence/rapports.html
        tmpl-menu-footer-about-pm-text:
          en: Prime Minister
          fr: Premier ministre
        tmpl-menu-footer-about-pm-link:
          en: https://pm.gc.ca/eng
          fr: https://pm.gc.ca/fra
        tmpl-menu-footer-about-government-text:
          en: How government works
          fr: Comment le gouvernement fonctionne
        tmpl-menu-footer-about-government-link:
          en: https://www.canada.ca/en/government/system.html
          fr: https://www.canada.ca/fr/gouvernement/systeme.html
        tmpl-menu-footer-about-open-text:
          en: Open government
          fr: ouvernement ouvert
        tmpl-menu-footer-about-open-link:
          en: https://open.canada.ca/en/
          fr: https://ouvert.canada.ca/
        tmpl-menu-footer-communications-social-text:
          en: Social media
          fr: Médias sociaux
        tmpl-menu-footer-communications-social-link:
          en: https://www.canada.ca/en/social.html
          fr: https://www.canada.ca/fr/sociaux.html
        tmpl-menu-footer-communications-mobile-text:
          en: Mobile applications
          fr: Applications mobiles
        tmpl-menu-footer-communications-mobile-link:
          en: https://www.canada.ca/en/mobile.html
          fr: ttps://www.canada.ca/fr/mobile.html
        tmpl-menu-footer-communications-about-text:
          en: About Canada.ca
          fr: À propos de Canada.ca
        tmpl-menu-footer-communications-about-link:
          en: https://www1.canada.ca/en/newsite.html
          fr: https://www1.canada.ca/fr/nouveausite.html
        tmpl-menu-footer-communications-terms-text:
          en: Terms and conditions
          fr: Avis
        tmpl-menu-footer-communications-terms-link:
          en: https://www.canada.ca/en/transparency/terms.html
          fr: https://www.canada.ca/fr/transparence/avis.html
        tmpl-menu-footer-communications-privacy-text:
          en: Privacy
          fr: Confidentialité
        tmpl-menu-footer-communications-privacy-link:
          en: https://www.canada.ca/en/transparency/privacy.html
          fr: https://www.canada.ca/fr/transparence/confidentialite.html
        tmpl-promo-title:
          en: Promotions
          fr: Promotions
        tmpl-register:
          en: Register
          fr: Inscription
        tmpl-search:
          en: Search
          fr: Recherche
        tmpl-search-site:
          en: Search Canada.ca
          fr: Rechercher dans Canada.ca
        tmpl-section-menu:
          en: Section menu
          fr: Menu de la section
        tmpl-sign-on-info:
          en: Sign-on information
          fr: Information de l'utilisateur actuel
        tmpl-signed-in-as:
          en: Signed in as
          fr: Connecté en tant que
        tmpl-signin:
          en: Sign in
          fr: Ouvrir une session
        tmpl-signout:
          en: Sign out
          fr: Fermer la session
        tmpl-skip-about-site:
          en: Skip to About this site
          fr: Passer à «&#160;À propos de ce site&#160;»
        tmpl-skip-cont:
          en: Skip to main content
          fr: Passer au contenu principal
        tmpl-skip-section:
          en: Skip to section menu
          fr: Passer au menu de la section
        tmpl-space:
          en: "&#32;"
          fr: "&#32;"
        tmpl-terms:
          en: Terms and conditions
          fr: Avis
        tmpl-toppage:
          en: Top of Page
          fr: Haut de la page
        tmpl-you-are-here:
          en: You are here
          fr: Vous êtes ici&#160;
      layout: page
      lang: en
      langtoggle: true
      permalink: /:path
      noMainContainer: false
      noContentTitle: false
      share: true
      sitemenu: true
      sitesearch: true

# 6. Site settings
analytics:
  provider: adobe # false (default), "google", "google-universal", "gtag", "adobe", "custom"
  adobe:
    staging: -staging # -staging, false (default)
    tracking_id: caacec67651710193d2331efef325107c23a0145/satelliteLib-c2082deaf69c358c641c5eb20f94b615dd606662
  google:
    tracking_id: # UA-XXXX-YY
    anonymize_ip: # true, false (default)
assets: https://wet-boew.github.io/themes-dist
baseurl:
css_inline: false # Will insert all styles into a single <style> block in the <head> element and remove the style <link> reference
email:
encoding: utf-8 # Make sure the encoding is right
javascript:
  - src: https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js
    integrity: sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM
    crossorigin: anonymous
lang: en-CA # Set the site language
languages: ["en", "fr"]
sass:
  style: expanded
sitename:
  en: GC Design System
  fr: System de conception GC
stylesheets:
  - href: https://use.fontawesome.com/releases/v5.8.1/css/all.css
    integrity: sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf
    crossorigin: anonymous
  - href: assets/css/alpha.gc-desig-system-nav.css
  - href: assets/css/beta.alpha-beta-banner.css
theme-name: GCWeb
title: GC design system / Système de conception GC # Site name or title, also used in jekyll-seo-tag