<section class="experimental alpha-top">
	{% if page.lang == "en" %}
	<h2 class="wb-inv">This is an Alpha service</h2>
	<div class="container">
		<small><label class="alpha-label">Alpha</label>&nbsp;&nbsp; English <a
				href="mailto:dto.btn@tbs-sct.gc.ca">English </a>.</small>
	</div>
	{% else %}
	<h2 class="wb-inv">This is an Alpha service FR</h2>
	<div class="container">
		<small><label class="alpha-label">Alpha</label>&nbsp;&nbsp; French <a
				href="mailto:dto.btn@tbs-sct.gc.ca">French</a>.</small>
	</div>
	{% endif %}
</section>