<section class="experimental alpha-top">
	{% if page.lang == "en" %}
	<h2 class="wb-inv">Alpha</h2>
	<div class="container">
		<small><label class="alpha-label">Alpha</label>&nbsp;&nbsp; This is the experimental version of the GC Design System. For current guidance, go to <a
				href="https://www.canada.ca/en/government/about/design-system.html">design.canada.ca</a>.</small>
	</div>
	{% else %}
	<h2 class="wb-inv">Alpha</h2>
	<div class="container">
		<small><label class="alpha-label">Alpha</label>&nbsp;&nbsp; Voici la version expérimentales du système de conception du GC. Pour les lignes directrices actuelles, allez à <a
				href="https://www.canada.ca/fr/gouvernement/a-propos/systeme-conception.html">conception.canada.ca</a>.</small>
	</div>
	{% endif %}
</section>