<section class="alpha-top">
	{% if page.lang == "en" %}
	<h2 class="wb-inv">This is an Alpha service</h2>
	<div class="container">
		<small><label class="alpha-label">Alpha</label>&nbsp;&nbsp; This is an experimental page for public testing. <a
				href="mailto:dto.btn@tbs-sct.gc.ca">Provide feedback to help us improve our content</a>.</small>
	</div>
	{% else %}
	<h2 class="wb-inv">This is an Alpha service</h2>
	<div class="container">
		<small><label class="alpha-label">Alpha</label>&nbsp;&nbsp; This is an experimental page for public testing. <a
				href="mailto:dto.btn@tbs-sct.gc.ca">Provide feedback to help us improve our content</a>.</small>
	</div>
	{% endif %}
</section>