{% include analytics.html %}
	<link rel='manifest' href='/assets/manifest.json'>
    <link href="{{ site.assets }}/{{ site.theme-name }}/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ site.assets }}/{{ site.theme-name }}/css/theme.css" />
    {% if site.stylesheets %}{% for sheet in site.stylesheets %}<link rel="stylesheet" {% for entry in sheet %}{% if entry[0] == 'href' %}{{ entry[0] }}="{{ entry[1] | relative_url }}" {% else %}{{ entry[0] }}="{{ entry[1] }}" {% endif %}{% endfor %}/>{% endfor %}{% endif %}
    {% if page.stylesheets %}{% for sheet in page.stylesheets %}<link rel="stylesheet" {% for entry in sheet %}{% if entry[0] == 'href' %}{{ entry[0] }}="{{ entry[1] | relative_url }}" {% else %}{{ entry[0] }}="{{ entry[1] }}" {% endif %}{% endfor %}/>{% endfor %}{% endif %}

    <noscript><link rel="stylesheet" href="{{ site.assets }}/{{ site.theme-name }}/wet-boew/css/noscript.css" /></noscript>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "{{ page.title }}",
            "url": "{{ page.permalink }}",
            "author": {
               "@type": "GovernmentOrganization",
               "name": "{{ site.authorName }}",
               "url": "{{ site.authorUrl }}",
               "parentOrganization": {
                  "@type": "GovernmentOrganization",
                  "name": "Government of Canada",
                  "url": "http://www.canada.ca/"
               }
            },
            "description": "{% if page.description[page.lang] %}{{ page.description[page.lang] }}{% else %}{{ site.site-description[page.lang] }} {% endif %}"
        }
    </script>