// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// WET Custom
// Extra extra small screen
$screen-xxs-max: 479px !default;
// Large screen
$screen-lg-max: 1599px !default;
// Extra large screen
$screen-xl-min: 1600px !default;

//colors
$brand-primary: #2572b4 !default;
$brand-success: #1b6c1c !default;
$brand-info: #4d4d4d !default;
$brand-warning: #f2d40d !default;
$brand-danger: #bc3331 !default;

$color_cloud_burst_approx: #26374a;
$color_pale_sky_approx: #6c757d;
$color_mercury_approx: #dee2e6;
$color_gallery_approx: #e9ecef;
$color_abbey_approx: #495057;
$color_azure_radiance_approx: #007bff;
$black: rgba(0, 0, 0, 1);
$black_90: rgba(0, 0, 0, .9);
$black_50: rgba(0, 0, 0, .5);
$black_70: rgba(0, 0, 0, .7);
$black_30: rgba(0, 0, 0, .3);
$black_10: rgba(0, 0, 0, .1);
$white: rgba(255, 255, 255, 1);
$white_50: rgba(255, 255, 255, .5);
$white_75: rgba(255, 255, 255, .75);
$white_25: rgba(255, 255, 255, .25);
$white_10: rgba(255, 255, 255, .1);