---
layout: page
---
<div class="row profile">
	<div class="col-md-9">
		<p class="pagetag">{{ page.description-long[page.lang] }}</p>
	</div>
	<div class="col-md-3">
		<div class="small">
			<ul class="list-unstyled component-tombstone">
			<li class="mrgn-rght-lg"><strong>{{ site.data.i18n.tmpl-progress[page.lang] }}:</strong> <label class="experimental label {{ page.release-notes.first.progress.en | downcase }}-label">{{ page.release-notes.first.progress[page.lang] }}</label></li class="mrgn-rght-lg">
			<li class="mrgn-rght-lg"><strong>{{ site.data.i18n.tmpl-version[page.lang] }}:</strong> {{ page.release-notes.first.version }}</li>
			<li class="mrgn-rght-lg"><strong>{{ site.data.i18n.tmpl-updated[page.lang] }}:</strong> {{ page.release-notes.first.updated | date: "%b %d, %Y" }}</li>
			</ul>
		</div>
	</div>
</div>
<div class="wb-tabs ignore-session">
	<div class="tabpanels">
		<details id="details-panel1">
			<summary><span class="fas fa-pen-square"></span> {{ site.data.i18n.tmpl-guidance[page.lang] }}</summary>
			<section>
				<h2>{{ site.data.i18n.tmpl-on-this-page[page.lang] }}</h2>
				<ul>
					<li><a href="#spec">{{ site.data.i18n.tmpl-design-specifications[page.lang] }}</a></li>
					{% if page.design-variants %}<li><a href="#variations">{{ site.data.i18n.tmpl-design-variants[page.lang] }}</a></li>{% endif %}
					{% if page.related %}<li><a href="#patterns">{{ site.data.i18n.tmpl-related-patterns[page.lang] }}</a></li>{% endif %}
					<li><a href="#usage">{{ site.data.i18n.tmpl-usage[page.lang] }}</a></li>
					<li><a href="#discuss">{{ site.data.i18n.tmpl-discussion[page.lang] }}</a></li>
				</ul>
			</section>
			{% if page.design-kits %}
			<section>
				<h2>{{ site.data.i18n.tmpl-design-kits[page.lang] }}</h2>
				<ul class="list-unstyled lst-spcd">
					{% for kit in page.design-kits %}
					<li><a class="btn btn-default" href="{{ kit.link }}"><span class="fas fa-arrow-circle-down"></span> {{ kit.title }}</a></li>
					{% endfor %}
				</ul>
			</section>
			{% endif %}
			<section>
				<h2 id="specs">{{ site.data.i18n.tmpl-design-specifications[page.lang] }}</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="pattern-demo mrgn-bttm-lg">
						<img class="img-responsive" src="{{ page.design-spec.screenshot.link }}" alt="{{ page.design-spec.screenshot.alt[page.lang] }}">
						</div>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
							{% for callout in page.design-spec.callouts %}
							<li>
								<details>
									<summary>{{ page.callout.number }} {{ page.callout.title[page.lang] }}</summary>
									{{ page.callout.texttag[page.lang] }}
								</details>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</section>
			<section>
				<h2 id="usage">{{ site.data.i18n.tmpl-usage[page.lang] }}</h2>
				{{ page.usage.texttag[page.lang] }}
				{% for use in page.usage %}
				<div class="row">
					<div class="col-md-4">
						<img src="" class="img-responsive pattern-demo" alt="">
						<div class="do-guideline">
						<p class="h4">Do</p>
						<p>...</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</section>
		</details>
		<details id="details-panel2">
			<summary><span class="fas fa-laptop-code"></span> {{ site.data.i18n.tmpl-demo-code[page.lang] }}</summary>
			<div id="{{ page.code.code-variants.value }}-code" class="component-code">
				<div id="default-{{ page.code.code-variants.value }}-code" class="layout-code">
					<div class="code-variant wet4-variant">
						<pre><code>{{ page.code.code-variants.html-example[page.lang] }}</code></pre>
					</div>
				</div>
			</div>
		</details>
		<details id="details-panel3">
			<summary><span class="fas fa-microscope"></span> {{ site.data.i18n.tmpl-rationale[page.lang] }}</summary>
			<p>
				...
			</p>
		</details>
	</div>
</div>