---
layout: page
---
<div class="row profile">
	<div class="col-md-9">
		<p class="pagetag">{{ page.description-long[page.lang] }}</p>
	</div>
	<div class="col-md-3">
		<div class="small">
			<ul class="list-unstyled component-tombstone">
			<li class="mrgn-rght-lg"><strong>{{ site.data.i18n.tmpl-progress[page.lang] }}:</strong> <label class="experimental label {{ page.release-notes.first.progress.en | downcase }}-label">{{ page.release-notes.first.progress[page.lang] }}</label></li class="mrgn-rght-lg">
			<li class="mrgn-rght-lg"><strong>{{ site.data.i18n.tmpl-version[page.lang] }}:</strong> {{ page.release-notes.first.version }}</li>
			<li class="mrgn-rght-lg"><strong>{{ site.data.i18n.tmpl-updated[page.lang] }}:</strong> {{ page.release-notes.first.updated | date: "%b %d, %Y" }}</li>
			</ul>
		</div>
	</div>
</div>
<div class="row wb-tabs ignore-session mrgn-tp-lg">
	<div class="tabpanels">
		<details id="details-panel1">
			<summary><span class="fas fa-pen-square"></span> {{ site.data.i18n.tmpl-guidance[page.lang] }}</summary>
			{% comment %}<!-- # {% include on-this-page.html %} -->{% endcomment %}
			{% if page.design-kits %}
			<div class="row">
				<section class="col-md-6">
			{% else %}
			<section>
			{% endif %}
				<h2>{{ site.data.i18n.tmpl-on-this-page[page.lang] }}</h2>
				<ul>
					<li><a href="#spec">{{ site.data.i18n.tmpl-design-specifications[page.lang] }}</a></li>
					{% if page.design-variants %}<li><a href="#variations">{{ site.data.i18n.tmpl-design-variants[page.lang] }}</a></li>{% endif %}
					{% if page.related %}<li><a href="#patterns">{{ site.data.i18n.tmpl-related-patterns[page.lang] }}</a></li>{% endif %}
					<li><a href="#usage">{{ site.data.i18n.tmpl-usage[page.lang] }}</a></li>
					<li><a href="#discuss">{{ site.data.i18n.tmpl-discussion[page.lang] }}</a></li>
				</ul>
				</section>
			{% comment %}<!-- {% include design-kits.html %} -->{% endcomment %}
			{% if page.design-kits %}
				<section class="col-md-6">
				<h2>{{ site.data.i18n.tmpl-design-kits[page.lang] }}</h2>
				<ul class="list-unstyled lst-spcd">
					{% for kit in page.design-kits %}
					<li><a class="btn btn-default" href="{{ kit.link }}"><span class="fas fa-arrow-circle-down"></span> {{ kit.title }}</a></li>
					{% endfor %}
				</ul>
				</section>
			</div>
			{% endif %}
			<section>
				<h2 id="specs">{{ site.data.i18n.tmpl-design-specifications[page.lang] }}</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="pattern-demo mrgn-bttm-lg">
						<img class="img-responsive" src="{{ page.design-spec.screenshot.link }}" alt="{{ page.design-spec.screenshot.alt[page.lang] }}">
						</div>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
							{% for callout in page.design-spec.callouts %}
							<li>
								<details>
									<summary><span class="fa-stack" style="display: inline-block;"><span class="fas fa-square fa-stack-2x" style="color: black;"></span><span class="fa-stack-1x fa-inverse">{{ callout.number }}</span></span>&nbsp;{{ callout.title[page.lang] }}</summary>
									{{ callout.texttag[page.lang] }}
								</details>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</section>
			{% if page.related %}
			{% comment %}<!-- {% include related.html %} -->{% endcomment %}
			<section>
				<h2 id="patterns">{{ site.data.i18n.tmpl-related-patterns[page.lang] }}</h2>
				<p>{{ page.name[page.lang] }} {{ site.data.i18n.tmpl-related-usage[page.lang] }}</p>
				<ul>
				{% for pattern in page.related %}
					<li><a href="{{ pattern.link[page.lang] }}">{{ pattern.title[page.lang] }}</a></li>
				{% endfor %}
				</ul>
			</section>
			{% endif %}
			{% comment %}<!-- {% include usage.html %} -->{% endcomment %}
			<section>
				<h2 id="usage">{{ site.data.i18n.tmpl-usage[page.lang] }}</h2>
				<section>
					<h3>{{ page.usage.texttag[page.lang] }}</h3>
					<div class="row">
					{% for use in page.usage.uses %}
						<div class="col-md-4 experimental">
						{% if use.first.last.img[page.lang] %}
							<img src="{{ use.first.last.img[page.lang] }}" class="img-responsive pattern-demo" alt="{{ use.first.last.alt[page.lang] }}">
						{% endif %}
							<div class="{{ use.first.first }}-guideline">
						{% if use.first.first == "do" %}
								<p class="h4">{{ site.data.i18n.tmpl-do-label[page.lang] }}</p>
						{% else %}
								<p class="h4">{{ site.data.i18n.tmpl-dont-label[page.lang] }}</p>
						{% endif %}
								<p>{{ use.first.last[page.lang] }}</p>
							</div>
						</div>
					{% endfor %}
					</div>
				</section>
			</section>
		</details>
		<details id="details-panel2">
			<summary><span class="fas fa-laptop-code"></span> {{ site.data.i18n.tmpl-demo-code[page.lang] }}</summary>
			<div class="row">
				<div class="col-xs-12 col-md-9 mrgn-tp-md">
					<div id="demo" class="pattern-demo pattern-demo-component">
						{% for variant in code-variants %}
						<div id="{{ variant.name }}-demo" class="component-demo">
							{% for layout in variant %}
							<div class="{{ variant.code }}-{{ variant.name }}-layout" class="layout-demo example-frame-bkg">
								<iframe title="{{ page.layout.title }}" class="example-frame example-frame-resizable example-frame-m" src="{{ page.layout.src }}" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
							</div>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3">
					<div class="mrgn-bttm-sm">
						<fieldset>
							<label for="design-variant-menu" class="chkbxrdio-grp">{{ site.data.i18n.tmpl-design-variants[page.lang] }}</label>
							<section id="design-variant-menu" class="form-control">
							{% for variant in page.code.code-variants.variants %}
							{% endfor %}
							</section>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-9 mrgn-tp-md">

				</div>
				<div class="col-md-3">

				</div>
			</div>
				<div id="{{ page.code.code-variants.value }}" class="component-code">
					<div id="default-{{ page.code.code-variants.value }}-code" class="layout-code">
						<div class="code-variant wet4-variant">
							<pre><code>{{ page.code.code-variants.html-example[page.lang] }}</code></pre>
						</div>
					</div>
				</div>
		</details>
		<details id="details-panel3">
			<summary><span class="fas fa-microscope"></span> {{ site.data.i18n.tmpl-rationale[page.lang] }}</summary>
			<p>
				...
			</p>
		</details>
	</div>

</div>
<section>
	<h2 id="discuss">{{site.data.i18n.tmpl-discussion[page.lang]}}</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<p><a href="https://github.com/canada-ca/design-system-systeme-conception/issues" class="btn btn-default btn-block"><span class="fab fa-github"></span> {{ site.data.i18n.tmpl-github-issue[page.lang] }}</a></p>
			<p><a href="https://join.slack.com/t/design-gc-conception/shared_invite/enQtODE1OTc5Mzg5NzQ4LWQ3MjZjMTdjMjk2ZTZmMTJjYWQ3ZmRiNDYwYjRmN2NjYzQyNjFlNDBlY2FkNWE1ODg2YjExY2QwZmVjN2MwMGM" class="btn btn-default btn-block"><span class="fab fa-slack"></span> {{ site.data.i18n.tmpl-join-slack[page.lang] }}</a></p>
		</div>
	</div>
</section>