<!DOCTYPE html>
<html lang="{{ page.lang }}">
	<head>
		<meta charset="utf-8"/>
		<title>{{ page.contentTitle }}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta name="description" content="{{ site.description.en }}" />
		<meta name="description" lang="fr" content="{{ site.description.fr}}" />
		<meta name="dcterms.creator" content="{{ site.creator.en}}" />
		<meta name="dcterms.creator" lang="fr" content="{{ site.creator.en}}" />
		<meta name="dcterms.title" content="{{ site.title }}" />
		<meta name="dcterms.title" lang="fr" content="{{ site.title }}" />
		<meta name="dcterms.issued" title="W3CDTF" content="2013-12-13" />
		<meta name="dcterms.modified" title="W3CDTF" content="{{ page.dateModified }}" />
		<meta name="dcterms.subject" title="scheme" content="{{ page.subject.en }}" />
		<meta name="dcterms.subject" lang="fr" title="scheme" content="{{ page.subject.fr }}" />
		<meta name="dcterms.language" title="ISO639-2" content="eng" />
		<meta name="dcterms.language" lang="fr" title="ISO639-2" content="fra" />
		<meta name="robots" content="noindex, follow" />
		{% include headresources.html %}
	</head>

	<body class="{{ page.pageclass }}" vocab="http://schema.org/" typeof="WebPage">
		<div id="bg">
			<img src="{{ site.assets }}/{{ site.theme-name }}/assets/sp-bg-2.jpg" alt="" />
		</div>
		<main role="main">
      <div class="sp-hb">
        <div class="sp-bx col-xs-12">
          <h1 property="name" class="wb-inv">{{ page.contentTitle }}</h1>
          <div class="row">
            <div class="col-xs-11 col-md-8">
              <img src="{{ site.assets }}/{{ site.theme-name }}/assets/sig-spl.svg" width="283" alt="{{ page.i18n.tmpl-gc-sig[page.lang] }} / {{ page.i18n.tmpl-gc-sig.fr }}" />
            </div>
          </div>
          <div class="row">
            <section class="col-xs-6 text-right">
              <h2 class="wb-inv">{{ page.i18n.tmpl-gc-sig[page.lang] }}</h2>
              <p><a href="./en" class="btn btn-primary">{{ page.i18n.tmpl-lang-native["en"] }}</a></p>
            </section>
            <section class="col-xs-6" lang="fr">
              <h2 class="wb-inv">{{ page.i18n.tmpl-gc-sig["fr"] }}</h2>
              <p><a href="/fr/index.html" class="btn btn-primary disabled" role="button">{{ page.i18n.tmpl-lang-native["fr"] }}</a></p>
            </section>
          </div>
        </div>
        <div class="sp-bx-bt col-xs-12">
          <div class="row">
            <div class="col-xs-7 col-md-8">
              <a href="https://www.canada.ca/en/transparency/terms.html" class="sp-lk">{{ page.i18n.tmpl-terms[page.lang] }}</a> <span class="glyphicon glyphicon-asterisk"></span> <a href="https://www.canada.ca/fr/transparence/avis.html" class="sp-lk" lang="fr">{{ page.i18n.tmpl-terms["fr"] }}</a>
            </div>
            <div class="col-xs-5 col-md-4 text-right mrgn-bttm-md">
              <img src="{{ site.assets }}/{{ site.theme-name }}/assets/wmms-spl.svg" width="127" alt="{{ page.i18n.tmpl-gc-wmms[page.lang] }} / {{ page.i18n.tmpl-gc-wmms["fr"] }}" />
            </div>
          </div>
        </div>
      </div>
		</main>
		{% include footerresources.html %}
	</body>
</html>