
/* bigger label */
label {
  font-size: 20px !important; /*will not use important tags on PR, will correct source */
}

.checkbox-small label {
  font-size: 17px !important;
}
/* increase field flow sizing */

legend.h5 {
  margin-top: 0px !important; /*will not use important tags on PR, will correct source */
  font-size: 22px !important; /*will not use important tags on PR, will correct source */
  margin-bottom: 15px !important; /*will not use important tags on PR, will correct source */
}

.btn {
  font-size: 20px !important; /*will not use important tags on PR, will correct source */
  font-variant-ligatures: no-common-ligatures;
}

.pagedetails .btn  {
  font-size: 16px !important; /*will not use important tags on PR, will correct source */
  font-variant-ligatures: no-common-ligatures;
}

input[type="reset"], input[type="button"], input[type="submit"]

{
  height: 50px;
}

/* better focus on buttons */

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 5pt 4pt rgb(59, 153, 252);
  outline: 2px solid white;
}
/* custom checkboxes */

.cst-inputs input {
  position: absolute;
  opacity: 0;
}

.cst-inputs {
    margin-top: 15px;
}

.cst-inputs .checkbox,
.cst-inputs .radio,
.cst-inputs .form-checkbox,
.cst-inputs .form-radio {
  /* display: block; */
  position: relative;
  cursor: pointer;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.cst-inputs .checkbox,
.cst-inputs .radio {

  padding-left: 30px;
  margin-bottom: 35px;

}

.cst-inputs .checkbox-small {
  padding-left: 16px;
  margin-bottom: 25px;
}

.cst-inputs .form-checkbox,
.cst-inputs .form-radio {

  margin-right: 30px;
  margin-bottom: 25px;
  min-width: 26%; /* prevents weird overlapping */

}


.cst-inputs .form-checkbox label,
.cst-inputs .form-radio label {
  padding-left: 50px;

}

.cst-inputs .checkbox label::before,
.cst-inputs .radio label::before,
.cst-inputs .form-checkbox label::before,
.cst-inputs .form-radio label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #333;
  margin-top: -4px;

 }

 .cst-inputs .checkbox-small label::before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   display: inline-block;
   top: 0;
   left: 0;
   width: 24px;
   height: 24px;
   border: 2px solid #333;
   margin-top: 0;

  }


.cst-inputs .radio label::before,
.cst-inputs .form-radio label::before {
  content: "";
  border-radius: 50%;
}


.cst-inputs .checkbox label::after,
.cst-inputs .form-checkbox label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 13px;
  height: 22px;
  border: solid #333;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

.cst-inputs .checkbox-small label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 4px;
  width: 8px;
  height: 12px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

.cst-inputs .radio label::after,
.cst-inputs .form-radio label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
}

/* hide the check */
.cst-inputs .form-checkbox input[type="checkbox"] + label::after,
.cst-inputs .form-radio input[type="radio"] + label::after,
.cst-inputs .checkbox input[type="checkbox"] + label::after,
.cst-inputs .radio input[type="radio"] + label::after {
    content: none;
}

/* unhide check when checked */
.cst-inputs .form-checkbox input[type="checkbox"]:checked + label::after,
.cst-inputs .form-radio input[type="radio"]:checked + label::after,
.cst-inputs .checkbox input[type="checkbox"]:checked + label::after,
.cst-inputs .radio input[type="radio"]:checked + label::after {
    content: "";
}

/* add focus */
.cst-inputs .checkbox input[type="checkbox"]:focus + label::before,
.cst-inputs .form-checkbox input[type="checkbox"]:focus + label::before,
.cst-inputs .form-radio input[type="radio"]:focus + label::before,
.cst-inputs .radio input[type="radio"]:focus + label::before  {
    box-shadow: 0 0 3pt 2pt rgb(59, 153, 252);
}


/* for green checks */

.cst-inputs .checkbox-green label::after {
  content: "";
  border: solid white;
  border-width: 0 5px 5px 0;
}

/* for green checks */
.cst-inputs .checkbox-green input[type="checkbox"]:checked + label:before {
  background-color: #318000;
}

 @media only screen and (max-width: 1200px) {

.cst-inputs .form-checkbox,
.cst-inputs .form-radio {
    min-width: 50%;
  }

}
