
/* bigger label */
label {
  font-size: 20px !important; /*will not use important tags on PR, will correct source */
}

.label {
  text-align: left!important;
  display:block!important;
  float:left!important;
  clear: left!important;
  white-space:normal!important;
}

.checkbox-small label {
  font-size: 17px !important; /* important needed for now, will rmv later */
}
/* increase field flow sizing */

legend.h5 {
  margin-top: 0px !important; /*will not use important tags on PR, will correct source */
  font-size: 22px !important; /*will not use important tags on PR, will correct source */
  margin-bottom: 15px !important; /*will not use important tags on PR, will correct source */
}

.btn {
  font-size: 20px !important; /*will not use important tags on PR, will correct source */
  font-variant-ligatures: no-common-ligatures;
}

.pagedetails .btn  {
  font-size: 16px !important; /*will not use important tags on PR, will correct source */
  font-variant-ligatures: no-common-ligatures;
}

input[type="reset"], input[type="button"], input[type="submit"]

{
  height: 50px!important;
}

/* better focus on buttons */

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 5pt 4pt rgb(59, 153, 252);
  outline: 2px solid white;
}
/* custom checkboxes */

.can-ca-form input {
  position: absolute;
  opacity: 0;
}


.can-ca-form .is-disabled {
  opacity: 0.5;
}

.can-ca-form .is-disabled label {
  cursor: not-allowed;
}

.can-ca-form {
    clear: both;
    padding-top: 6px;
}

.can-ca-form .checkbox,
.can-ca-form .radio,
.can-ca-form .form-checkbox,
.can-ca-form .form-radio {

  position: relative;
  cursor: pointer;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.can-ca-form .checkbox,
.can-ca-form .radio {

  padding-left: 30px;
  margin-bottom: 32px;

}

.can-ca-form .checkbox-small {
  padding-left: 16px;
  margin-bottom: 25px;
}

.can-ca-form .form-checkbox,
.can-ca-form .form-radio {

  margin-right: 30px;
  margin-bottom: 25px;
  min-width: 26%; /* prevents weird overlapping */

}


.can-ca-form .form-checkbox label,
.can-ca-form .form-radio label {
  padding-left: 50px;

}

.can-ca-form .checkbox label::before,
.can-ca-form .radio label::before,
.can-ca-form .form-checkbox label::before,
.can-ca-form .form-radio label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #333;
  margin-top: -4px;

 }

 .can-ca-form .checkbox-small label::before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   display: inline-block;
   top: 0;
   left: 0;
   width: 24px;
   height: 24px;
   border: 2px solid #333;
   margin-top: 0;

  }


.can-ca-form .radio label::before,
.can-ca-form .form-radio label::before {
  content: "";
  border-radius: 50%;
}


.can-ca-form .checkbox label::after,
.can-ca-form .form-checkbox label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 13px;
  height: 22px;
  border: solid #333;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

.can-ca-form .checkbox-small label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 2px;
  width: 8px;
  height: 14px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}

.can-ca-form .radio label::after,
.can-ca-form .form-radio label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
}

/* hide the check */
.can-ca-form .form-checkbox input[type="checkbox"] + label::after,
.can-ca-form .form-radio input[type="radio"] + label::after,
.can-ca-form .checkbox input[type="checkbox"] + label::after,
.can-ca-form .radio input[type="radio"] + label::after {
    content: none;
}

/* unhide check when checked */
.can-ca-form .form-checkbox input[type="checkbox"]:checked + label::after,
.can-ca-form .form-radio input[type="radio"]:checked + label::after,
.can-ca-form .checkbox input[type="checkbox"]:checked + label::after,
.can-ca-form .radio input[type="radio"]:checked + label::after {
    content: "";
}

/* add focus */
.can-ca-form .checkbox input[type="checkbox"]:focus + label::before,
.can-ca-form .form-checkbox input[type="checkbox"]:focus + label::before,
.can-ca-form .form-radio input[type="radio"]:focus + label::before,
.can-ca-form .radio input[type="radio"]:focus + label::before  {
    box-shadow: 0 0 3pt 2pt rgb(59, 153, 252);
}


/* for green checks */

.can-ca-form .checkbox-green label::after {
  content: "";
  border: solid white;
  border-width: 0 5px 5px 0;
}

/* for green checks */
.can-ca-form .checkbox-green input[type="checkbox"]:checked + label:before {
  background-color: #318000;
}

 @media only screen and (max-width: 1200px) {

.can-ca-form .form-checkbox,
.can-ca-form .form-radio {
    min-width: 50%;
  }

}

.remove-width-restriction li, .remove-width-restriction p, .remove-width-restriction h2, .remove-width-restriction h3, .remove-width-restriction h4, .remove-width-restriction h5, .remove-width-restriction h6 {
    max-width:5000ch!important;
}

.contact-dl dd, .contact-dl dt {
  border-top: 0px solid #ccc!important;
}

h2, .h2 {font-size:1.7em}

/*Vertical steps CSS */
/*Grid */

main#steps-navigation section#steps-content, main#steps-navigation nav#steps-menu {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	min-height: 1px;
}
main#steps-navigation nav#steps-menu {

	margin-bottom: 22px;
}
main#steps-navigation nav#steps-menu  > *:last-child {
    margin-bottom: 15px;
}


@media (max-width: 991px){
#steps-menu {border:1px solid #26374a; border-radius:4px; padding-left:15px; padding-right:15px; margin-left:15px; margin-right:15px}
#steps-menu>:first-child {visibility:visible!important; display:inline-block!important; color:#26374a; margin-left:-15px; margin-right:-15px; padding:10px; margin-bottom:0px; margin-top:0px;  cursor:pointer}
#steps-menu.open>:first-child, .wb-disable #steps-menu>:first-child {border-bottom:1px solid #26374a;}
#steps-menu>:first-child+* {margin-top:15px}
#steps-menu>:first-child:hover, #steps-menu>:first-child:focus {background-color:#26374a; color:white}
#steps-menu.open>:first-child:before {content: "\e114";  display:inline-block;  vertical-align: -25%; font-family: "Glyphicons Halflings"; margin-right: 10px;   -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
#steps-menu:not(.open)>:first-child:before {content: "\e114";   display:inline-block; vertical-align: -25%; -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); font-family: "Glyphicons Halflings"; margin-right: 10px;   -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
#steps-menu>* {display:none;}
#steps-menu>:first-child {visibility:visible!important; display:block!important}
.wb-disable #steps-menu>* {display:inherit}

.wb-disable #steps-menu:not(.open)>:first-child:before {content: "\e114";   display:inline-block; vertical-align: -25%; -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);

}
}


@media (min-width:992px) {
main#steps-navigation #wb-steps-title, main#steps-navigation section#steps-content {
	width: 66.66%;
	float: left;
}
main#steps-navigation nav#steps-menu {
	width: 33.33%;
	float: right;
	margin-top: 38px;
}
	main#steps-navigation #nav-pull > nav#steps-menu {
	margin-top: 0px;
}
main#steps-navigation h1#wb-cont-section {
	border-bottom: 0px;
	font-size: 1.5em;
	color: #777;
	margin-top: 10px;
	margin-bottom: 0px;

}
main#steps-navigation #steps-content h1#wb-cont {
	margin-top: 0px;
	width: 100%;
}
}
main#steps-navigation h1#wb-cont-section {
	border-bottom: 0px;
}

/*steps design */
.vertical-steps .small, .vertical-steps small {
	line-height: 0em
}
.vertical-steps * {
	font-weight: inherit!important
}
.vertical-steps *, .fa-vertical-steps * {
	font-size: inherit!important;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	line-height: inherit!important
}
.vertical-steps {
	margin-top: 6px;
	list-style: none;
}
ol.vertical-steps {
	margin-left: -10px;
	counter-reset: step-counter;
}
ul.vertical-steps {
	margin-left: -16px;
}
.vertical-steps>li {
	padding-bottom: 20px;
	margin-left: -12px;
	border-left: 5px solid #26374a;
	position: relative;
}
ol.vertical-steps>li {
	padding-left: 29px;
	counter-increment: step-counter;
}
ul.vertical-steps>li, .vertical-steps ul>li {
	padding-left: 25px
}
.vertical-steps li a::before {
	text-decoration: underline;
}
ul.vertical-steps.noline>li {
	border-left: 5px solid transparent
}
.vertical-steps>li>:first-child::before {
	border-radius: 50%;
	border: 3px solid #26374a;
	background-color: #fff;
	float: left;
	display: inline-block;
	text-decoration: none;
	box-sizing: content-box;
	line-height: 1.6;
	text-align: center;
	-webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
	transition: all 0.2s;
}
ol.vertical-steps>li>:first-child::before {
	height: 34px;
	width: 34px;
	margin-left: -52px;
}
ul.vertical-steps>li>:first-child::before {
	height: 18px;
	width: 18px;
	margin-left: -40px;
	content: "";
}
ul.vertical-steps.noline>li>:first-child::before {
	margin-top: 0.3em
}
ul.vertical-steps>li>a[href]:hover::before {
	width: 20px;
	height: 20px;
	margin-top: -1px;
	font-size: 1.2em;
	margin-right: 5px;
	margin-left: -41px;
	line-height: 1.55;
}
ul.vertical-steps.noline>li>a[href]:hover::before {
	margin-top: 0.25em
}
ol.vertical-steps>li>:first-child::before {
	content: counter(step-counter);
}
ol.vertical-steps>li>a[href]:hover::before {
	width: 36px;
	height: 36px;
	margin-top: -2px;
	font-size: 1.2em;
	margin-right: -2px;
	margin-left: -53px;
	line-height: 1.5;
}
.vertical-steps>li:last-child, .vertical-steps>li.completed:last-child, ul.fa-vertical-steps li:last-child {
	border-left: 5px solid transparent;
	padding-bottom: 0;
}
/*completed*/
.vertical-steps li.completed, .fa-vertical-steps li.completed, .fa-vertical-steps li.completed span.fa-li {
	border-color: #ccc
}
.vertical-steps li.completed>:first-child::before {
	border-color: #ccc
}
/*active*/
.vertical-steps li.active>:first-child::before, .fa-vertical-steps li.active span.fa-li {
	background-color: #26374a;
	color: #fff;
}
/*FA icons*/
ul.fa-vertical-steps {
	margin-left: 0.9em;
	list-style: none;
}
ul.fa-vertical-steps li span.fa-li {
	border-radius: 50%;
	border: 3px solid #26374a;
	background-color: #fff;
	height: 40px;
	width: 40px;
	font-size: 1em;
	margin-left: 16px;
	padding-top: 1px;
	-webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
	transition: all 0.2s;
}
ul.fa-vertical-steps>li {
	padding-bottom: 24px;
	border-left: 5px solid #26374a;
	position: relative;
	padding-left: 29px;
}

.fa-vertical-steps>li>a[href]:hover span.fa-li {
	height: 44px;
	width: 44px;
	padding-top: 2px;
	font-size: 1.2em;
	margin-left: 14px;
	margin-top: -0.03em;
}
/*sub-steps*/

.vertical-steps li ul, .vertical-steps li ol, .fa-vertical-steps li ul, .fa-vertical-steps li ol {
	margin-top: 16px!important;
}
ol.vertical-steps ol.vertical-steps {
	counter-reset: step-counter;
}
ol.vertical-steps ol.vertical-steps>li {
	counter-increment: step-counter;
}
ol.vertical-steps ol.vertical-steps>li>:first-child::before {
	content: counter(step-counter, upper-alpha);
}
/*sub-sub-steps */
ol.vertical-steps ol.vertical-steps ol.vertical-steps {
	counter-reset: step-counter;
}
ol.vertical-steps ol.vertical-steps ol.vertical-steps>li {
	counter-increment: step-counter;
}
ol.vertical-steps ol.vertical-steps ol.vertical-steps>li>:first-child::before {
	content: counter(step-counter, lower-roman);
}
/*custom list-type */
ol.vertical-steps.lst-lwr-rmn>li>:first-child::before {
	content: counter(step-counter, lower-roman)!important;
}
ol.vertical-steps.lst-upr-rmn>li>:first-child::before {
	content: counter(step-counter, upper-roman)!important;
}
ol.vertical-steps.lst-upr-alph>li>:first-child::before {
	content: counter(step-counter, upper-alpha)!important;
}
ol.vertical-steps.lst-lwr-alph>li>:first-child::before {
	content: counter(step-counter, lower-alpha)!important;
}
ol.vertical-steps.lst-num>li>:first-child::before {
	content: counter(step-counter)!important;
}

/* Top of page button */
nav#tp-pg {
	position: fixed;
	bottom: -110px;
	left: 0px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	z-index: 1049;
	transition: bottom 0.5s;
}

@media (min-width:992px) {
nav#tp-pg {
	bottom: 100px;
	right: -160px;
	width: auto;
	left: auto;
	transition: right 0.5s;
}
	nav#tp-pg.stuck, .wb-disable nav#tp-pg {
	right: 0px;
	bottom: 100px;
}

}

nav#tp-pg>a {
	text-decoration: none;
	padding: 10px 26px 26px 26px;
	background-color: #26374a;
	color: #fff;
	border: 1px solid #dcdee1;
	border-radius: 4px 4px 0 0;
}
@media (min-width:991px){
nav#tp-pg>a {
	padding: 10px 26px 10px 16px;
	border-radius: 4px 0 0 4px;
	border-right-width: 0px
}
}
nav#tp-pg>a:visited {
	color: #fff
}
nav#tp-pg>a:hover, nav#tp-pg>a:focus {
	background-color: #444;
	color: #fff
}
nav#tp-pg >a::before {
	content: "\e093";
	font-family: "Glyphicons Halflings";
	line-height: 1em;
	font-size: 1.2em;
	top: 0.15em;
	position: relative;
	padding-right: 0.5em
}
@media (max-width:991px){
nav#tp-pg.stuck, .wb-disable nav#tp-pg {
	bottom: 5px;
}
}



/*Screen reader resolution content */
@media screen and (min-width:1200px) {
.wb-inv-lg {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
}

@media screen and (max-width:1199px) and (min-width:992px) {
.wb-inv-md {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
}

@media screen and (max-width:991px) and (min-width:768px) {
.wb-inv-sm {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
}

@media (max-width:767px) {
.wb-inv-xs {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
}

/*alert design */
.alert:before {
	height: 34px;
	content: "";
	background-color: #fff;
	width: 6px;
	display: inline;
	margin-top: -1px;
	margin-left: -26px;
	position: absolute;
}
.alert-success, .alert-info, .alert-warning, .alert-danger {
	background: #fff !important;
}
.alert {
	border-width: 1px 1px 1px 4px !important;
	margin-left: 12px;
	padding-left: 20px;
	border-width: 0px 0px 0px 6px!important
}
.alert-success > :first-child::before, .alert-info > :first-child::before, .alert-warning > :first-child::before, .alert-danger > :first-child::before {
	font-size: 26px;
	margin-left: -1.48em;
	padding: 2px;
	line-height: 1.1em;
}
.alert > :first-child {
	margin-left: 0em;
}
.alert >:first-child::before {
	margin-right: 0.4em
}
/*targets the first h2 or h3 of alerts and matches the border color */
.alert-info h2:first-child, .alert-info h3:first-child, .alert-info .h2:first-child, .alert-info .h3:first-child {
	color: #269abc
}
.alert-success h2:first-child, .alert-success h3:first-child, .alert-success .h2:first-child, .alert-success .h3:first-child {
	color: #278400
}
.alert-warning h2:first-child, .alert-warning h3:first-child, .alert-warning .h2:first-child, .alert-warning .h3:first-child {
	color: #f90
}
.alert-danger h2:first-child, .alert-danger h3:first-child, .alert-danger .h2:first-child, .alert-danger .h3:first-child {
	color: #d3080c
}
/* reverts header to black if need for overwrite */
body .alert .text-default {
	color: inherit
}

/* blockquote with quote design*/
	blockquote {margin-left:12px; border-left-width:6px!important; border-left-color: #d4d4d4; }
	blockquote:lang(en)::before {content:"\201F"; color:#d4d4d4;  font-size:4em; position: absolute; background: #fff; margin-left: -0.5em; padding-top: 20px; line-height:0.5em; height:38px;

	}
	blockquote:lang(fr)::before {content:"\ab"; color:#d4d4d4;  font-size:2.8em; position: absolute; background: #fff; margin-left: -0.7em;  padding-bottom: 10px;

	}

/* Callout */
.callout {
  padding: 35px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
	box-shadow: inset 0px 0px 5px 2px #ccc;
}
.callout h2, .callout h3, .callout h3, .callout h4, .callout h5, .callout h6 {
	margin-top: 0;
}
.callout p:last-of-type, .callout ul:last-of-type {
	margin-bottom: 0;
}
.most-requested + .callout {
	margin-top: 30px;
}

.pattern-demo {
  padding: 19px;
	margin-bottom: 20px;
	border: 1px solid #e3e3e3;
	box-shadow: 0px 0px 10px #ddd;
}
